# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment directories
.venv/
env/
venv/
.env

# VSCode settings folder
.vscode/

# MacOS system files
.DS_Store

downloads/*

data/cost_guards.json
data/cost_guards.lock
data/cost_guards.json.tmp

/reference
/demo_files


